footer{
	height: 50px;
}
.berat{
	margin-left: 650px;
}
.beratbarang{
	margin-left: 590px;
}
.btn_hitung{
	width: 150px;
	margin-left: 910px
}
@media only screen and (max-width: 540px)
{
	.besi{
	margin-top: 50px;
	}
	.berat{
	margin-left: 0px;
	}
	.beratbarang{
	margin-left: 0px;
	}
	.btn_hitung{
	margin-left: 12px;
	}

}